header {
  background-color: var(--lightest-cream);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  border-bottom: 3px solid var(--dark-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-right {
  display: flex;
  align-items: center;
}

#header-right > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

#header-left {
  display: flex;
  align-items: center;
}

#header-left > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
