.fancy-link {
  color: var(--light-brown);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid var(--dark-brown);
  border-radius: 5px;
  background-color: var(--light-cream);
  transition: all 0.3s ease;
  font-size: 1.2rem;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.fancy-link:hover {
  color: var(--medium-brown);
  text-decoration: none;
  background-color: var(--medium-cream);
  transform: scale(1.05);
}

.fancy-link#play-link {
  font-size: 2rem;
}

#link-with-icon-div {
  display: flex;
  align-items: center;
}

#sign-up-link {
  margin-top: 0.8rem;
  text-decoration: none;
  color: var(--light-brown);
}

#sign-up-link:hover {
  text-decoration: underline;
}
