:root {
  --dark-brown: #27191b;
  --medium-brown: #4c3135;
  --cream: #e4b880;
  --medium-cream: #e3d6b3;
  --light-cream: #fbecc6;
  --light-brown: #a8673b;
  --red-warning-ux: #ac3b33;
  --green-success-ux: #52a13e;
  --lightest-cream: #fffcf5;
}
